<div class="chats-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner.jpg"%>);">
</div>
    <%= cl_image_tag current_user.avatar.key, class: "chat-avatar", width: 200, height: 200, crop: :fill, gravity: :face%>
<div class="container container-chats">
  <div class= "chat-preview">
    <% @chatrooms_joined.each do |chatroom|%>
      <div class="message">
        <%= cl_image_tag chatroom.band.photo.key, class:"band-chat-avatar" %>
        <div class="preview">
          <h4><strong><%= link_to chatroom.band.name, chatroom_path(chatroom), class:"link-chat" %></strong></h4>
          <%= chatroom.messages.last.content %>
        </div>
      </div>
    <% end %>
      <% @chatrooms_band.each do |chatroom|%>
        <div class="message">
          <% if chatroom.band.id != @user.band_id %>
                <%= cl_image_tag chatroom.band.avatar.key, class:"band-chat-avatar" %>
            <div class="preview">
              <h4><strong><%= link_to "#{chatroom.band.name}",chatroom_path(chatroom), class:"link-chat"%></strong></h4>
                            <%= chatroom.messages.last.content %>
            </div>
             <% if chatroom.messages.last.user_id != current_user.id %>
                <div class="visible">
                </div>
                <% end %>
          <% elsif chatroom.band.id == @user.band_id && @user.id != chatroom.messages.first.user.id %>
              <%= cl_image_tag chatroom.users.first.avatar.key, class:"band-chat-avatar" %>
            <div class="preview">
              <% @second_user = chatroom.messages.first.user %>
              <h4><strong><%= link_to "#{@second_user.first_name} #{@second_user.last_name}", chatroom_path(chatroom), class:"link-chat" %></strong></h4>
              <%= chatroom.messages.last.content %>
            </div>
             <% if chatroom.messages.last.user_id != current_user.id %>
                <div class="visible">
                </div>
                <% end %>
          <% elsif chatroom.band.id == @user.band_id && @user.id == chatroom.messages.first.user.id %>
              <%= cl_image_tag chatroom.band.avatar.key, class:"band-chat-avatar" %>
            <div class="preview">
              <h4><strong><%= link_to "#{chatroom.band.name}",chatroom_path(chatroom), class:"link-chat"%></strong></h4>
              <%= chatroom.messages.last.content %>
            </div>
             <% if chatroom.messages.last.user_id != current_user.id %>
                <div class="visible">
                </div>
                <% end %>
          <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
