<div class="banner-dicussion-chat" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner.jpg"%>);">
<% if @chatroom.band.id != @user.band_id %>
  <% if @chatroom.messages.empty? %>
    <%= link_to "#{@chatroom.band.name}",band_path(@chatroom.band), class:"title-chatroom"%>
  <% elsif @chatroom.messages.empty? == false %>
    <% @second_user = @chatroom.messages.first.user %>
    <% if @second_user.band_id != @chatroom.band_id || @second_user.band_id = nil || @user.id == @second_user.id %>
      <%= link_to "#{@chatroom.band.name}",band_path(@chatroom.band), class:"title-chatroom"%>
    <% else %>
      <%= link_to "#{@second_user.first_name} #{@second_user.last_name}", user_path(@chatroom.messages.first.user), class:"title-chatroom" %>
    <%end%>
  <% end %>
<% elsif @chatroom.band.id == @user.band_id && @user.id != @chatroom.messages.first.user.id %>
    <% @second_user = @chatroom.messages.first.user %>
      <%= link_to "#{@second_user.first_name} #{@second_user.last_name}", user_path(@chatroom.messages.first.user), class:"title-chatroom" %>
<% elsif @chatroom.band.id == @user.band_id && @user.id == @chatroom.messages.first.user.id%>
    <%= link_to "#{@chatroom.band.name}",band_path(@chatroom.band), class:"title-chatroom"%>
<% end %>

  <% if current_user.band.present? %>
    <% current_user.band.id == @chatroom.band.id %>
  <%= link_to "Add to your band", update_user_chatroom_path(@chatroom),data: {turbo_method: :patch}, class:"add-btn" %>
  <% end %>
</div>
<div class="container chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">

          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
            <%= render "messages/message", message: message %>
          </div>
        </div>
      <% end %>
    </div>
  <%= simple_form_for [@chatroom, @message],
    { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
  %>
  <div class="bloc-new-message">
    <%= f.input :content,
      label: false,
      placeholder: "Type your message... #{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"},
      input_html: { clss: "input-new-message"}
    %>
    <button type="submit" class="button-send-message">
      <i class="fa-solid fa-paper-plane"></i>
    </button>
  <% end %>
  </div>
</div>
