<div class= "band-container">
  <div class="banner-band">
    <% if @band.photo.attached?%>
      <%= cl_image_tag @band.photo.key,class: "band-banner"%>
    <% else %>
      <%= cl_image_tag 'bad-omens.jpeg', alt: 'photo-default', style:"width: 400px"; %>
    <% end %>
  </div>
    <p class= "need-instrument-band d-flex justify-content-center">LOOKING FOR : <%= @band.needed_instrument.name.upcase%></p>
    <p class= "city-band position-city d-flex justify-content-center text-align-center"><i class="fa-solid fa-location-dot dot-localisation" style="color: #ff082a;"> </i> <%= @band.city.upcase%></p>
    <%if @users.include?(@user) %>
      <%= link_to "",edit_band_path(@band),  class: " custom-edition-profil"%>
      <% end %>
  <div class="functions-band"><%# !!!!!!!!!! PATH DU LINK_TO A CHANGER !!!!!!!!!!!!%>
      <!-- BTN MEMBERS = POP-UP -->
    <button type="button" class="btn btn-primary btn-band-show" data-bs-toggle="modal" data-bs-target="#exampleModal">
      members
    </button>
    <% if @band.photo.attached?%>
      <%=cl_image_tag @band.photo.key, class: "band-avatar", width: 200, height: 200, crop: :fill%>
    <% else %>
      <%= cl_image_tag 'bad-omens.jpeg', class: 'photo-default'%>
    <% end %>

    <!-- POP-UP -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">


        <div class="modal-content pop-body">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Members</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <%# POP-UP BODY %>
          <div class="modal-body user-names">
            <div class="member-name">
              <% @users.each do |user| %>
                <div class= "name-instrument d-flex align-items-center my-4">
                  <div class="">
                    <div>
                    <% if @users.include?(user) %>
                      <%= button_to "",
                        band_delete_user_path(@band, user),
                        method: :delete_user,
                        data: { turbo_confirm: "Are you sure?" },
                        form: { class: "delete-button hidden-field" } %>
                      <% end %>
                    <%=cl_image_tag user.avatar.key, width: 80, height: 80, crop: :fill, class: "member-photo" %>
                  </div>
                      </div>
                  <div>
                    <div class="name">
                      <%= user.first_name %>
                      <%= user.last_name %>
                    </div>
                    <div class= "instrument">
                      <%= user.instrument.name %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <%# POP-UP BODY %>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h1 class="name-band d-flex justify-content-center pt-4"><%= @band.name.upcase%> </h1>
    <p class= "music-style d-flex justify-content-center pt-2"><%= @band.style.name.upcase%></p>
    <p class="bio-band d-flex justify-content-space-between p-3"><%= @band.bio%></p>
    <%# mettre le lien vidéo YOUTUBE %>
    <iframe class ="d-flex m-auto" width="85%"  src="<%= @band.video_url%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>
