<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner.jpg"%>);">
  <p class="title-band-banner">HOT BANDS</p>
    <%= form_tag bands_path(@filtered_parameters.merge(query: params[:query])), method: :get do %>
      <div class="search-bar-black">
      <i class="fa-solid fa-magnifying-glass icon-search-bar"></i>
        <%= text_field_tag :query, params[:query], placeholder: "Search for a band or city...", class: "input-search-bands text-white"  %>
        <button type="submit" class="button-search">
          <i class="fas fa-arrow-right text-white"></i>
        </button>
      </div>
    <% end %>

  <div class="filter-search ">
    <div class="oce-dropdown-container">
        <div class="oce-dropdown" data-controller="dropdown" style="color: white">
          <input class="oce-dropdown-input" data-action="click->dropdown#toggle" placeholder="Style" readonly />
          <ul class="oce-dropdown-menu-list"  data-dropdown-target="menu" id="liste" style="display: none">
            <% @styles.each do|style| %>
              <%= link_to style.name, bands_path(@filtered_parameters.merge(style: style.name)), class:"oce-dropdown-menu-item text-white font-weight-light #{'selected' if params[:style] == style.name}"%>
            <% end %>
          </ul>
        </div>
    </div>
    <div class="oce-dropdown-container-instrument">
        <div class="oce-dropdown" data-controller="dropdown" style="color: white">
          <input class="oce-dropdown-input" data-action="click->dropdown#toggle" placeholder="instru" readonly />
          <ul class="oce-dropdown-menu-list"  data-dropdown-target="menu" id="liste" style="display: none">
            <% @instruments.each do|instrument| %>
              <%= link_to instrument.name, bands_path(@filtered_parameters.merge(needed_instrument: instrument.name)), class:"oce-dropdown-menu-item text-white font-weight-light #{'selected' if params[:needed_instrument] == instrument.name}"%>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>

<div class="container mt-5 band-container">
  <%@bands.each do |band| %>
    <div class="card card-band mx-2 my-4 " >
      <% if band.photo.attached?%>
        <%= cl_image_tag band.photo.key, style:"height: 240px", class: "object-fit-cover"; %>
      <% else %>
        <%= image_tag 'bad-omens.jpeg', alt: 'photo-default', style:"height: 240px", class: "object-fit-cover"; %>
      <% end %>
      <%= link_to band_path(band) do%>
        <div class="card-img-overlay card-band-infos d-flex flex-column align-items-center justify-content-end">
          <h1 class="name-band" ><%= band.name %></h1>
          <p class="needed-instrument-pill">LOOKING FOR: <%= band.needed_instrument.name%></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%# # creer une condition: si pas de photo attaché au band, afficher une photo "neutre" %>

  <div class="footer-nav-bar">
  <%# FOOTER-NAV-BAR COMPONENT %>
  </div>
</div>
