<div class="banner-creation-band">
  <div class="creation-picture"></div>
</div>
  <img data-target="preview.preview" style="max-width: 100%; max-height: 200px;">
<div>
    <%= form_with(model: @band, url: bands_path, local: true) do |form| %>
  <%= form.text_field :name, placeholder: "Name" %>
  <%= form.text_area :bio, placeholder: "Bio" %>
  <%= form.text_field :city, placeholder: "City" %>
  <%= form.collection_select :style_id, Style.all, :id, :name, prompt: "Select a style" %>
  <%= form.collection_select :needed_instrument_id, Instrument.all, :id, :name, prompt: "Select a needed instrument" %>
  <%= form.url_field :video_url, placeholder: "Video URL" %>

    <div>
      <%= form.file_field :photo, accept: "image/png, image/jpeg, image/jpg", data: { controller: "preview", target: "preview.fileField", previewPhoto: "preview.previewPhoto" } %>
      <%= image_tag "", class: "preview-image", data: { target: "preview.previewPhoto" } %>
    </div>

    <div>
      <%= form.file_field :avatar, accept: "image/png, image/jpeg, image/jpg", data: { controller: "preview", target: "preview.fileField", previewAvatar: "preview.previewAvatar" } %>
      <%= image_tag "", class: "preview-image", data: { target: "preview.previewAvatar" } %>
    </div>

  <%= form.submit "Create Band" %>
<% end %>
<script src="/path/to/preview_controller.js" type="module"></script>
</div>
