<div class="body-homepage" style="background-image: url(<%= cl_image_path "ampli.jpeg"%>);">
  <div class="logo">
    <%= cl_image_tag "logo.jpeg"%>
  </div>

    <div class="container col-9 form">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Login", class: "btn-primary btn-submit col-6" %>
        </div>
      <% end %>
    </div>
  <%= render "devise/shared/links" %>
</div>
