<!DOCTYPE html>
<html>
  <head>
    <title>MEETSICIANS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800;700;600&family=Istok+Web&family=Poppins:wght@200;400;300;600&family=Rubik&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body><%= render "shared/flashes" %>
        <%= render "shared/back_btn" %>

        <%= yield %>

        <%= render 'shared/footer' %>
  </body>
</html>
